@inherits ArrayListComponent
<h3>ClassMembers</h3>

<div>
    <table>
        <thead>
            <tr>
                <th>Class</th>
                <th>Member</th>
            </tr>
        </thead>
    </table>
</div>

@code{
   
    
}